services:
  postgres:
    image: postgres:16
    container_name: keycloak-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloakpass
    volumes:
      - pgdata:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.2
    container_name: keycloak
    depends_on:
      - postgres
    restart: unless-stopped
    entrypoint: /opt/keycloak/bin/kc.sh
    command: start-dev
    volumes:
      - ./plugins:/opt/keycloak/providers:ro
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloakpass

      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123

      # Webhook plugin settings
      WEBHOOK_HTTP_URL: http://192.168.50.112:5000
      WEBHOOK_HTTP_METHOD: POST
      WEBHOOK_HTTP_CONNECT_TIMEOUT: 5000
      WEBHOOK_HTTP_READ_TIMEOUT: 5000
      WEBHOOK_HTTP_EVENTS: REGISTER,UPDATE_PROFILE,UPDATE_EMAIL,DELETE_ACCOUNT
    ports:
      - "8080:8080"

volumes:
  pgdata:

